@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
aside {
  padding: 20px 15px;
  margin: 10px;
  background: #242424;
  border-radius: 10px;
  margin-bottom: 80px;
}
aside figure img {
  max-width: 130px;
  cursor: pointer;
}
aside figure nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  white-space: nowrap;
}
aside figure nav a {
  display: flex;
  gap: 10px;
  align-items: center;
}

main {
  width: 100%;
  margin: 10px;
  background: #242424;
  border-radius: 10px;
  margin-bottom: 80px;
}
main header {
  padding: 10px;
}
main header form {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #121212;
  gap: 40px;
  border-radius: 10px;
}
main header form #menu {
  display: none;
  font-size: 25px;
  cursor: pointer;
}
@media (max-width: 800px) {
  main header form #menu {
    display: block;
  }
}
main header form .search-input {
  position: relative;
}
main header form .search-input input {
  background: black;
  outline: none;
  border: none;
  max-width: 500px;
  width: 500px;
  padding: 15px 20px;
  color: #fff;
  border-radius: 10px;
}
@media (max-width: 1000px) {
  main header form .search-input input {
    width: 250px;
  }
}
@media (max-width: 850px) {
  main header form .search-input input {
    width: 300px;
  }
}
@media (max-width: 800px) {
  main header form .search-input input {
    width: 275px;
  }
}
@media (max-width: 670px) {
  main header form .search-input input {
    width: 250px;
  }
}
@media (max-width: 570px) {
  main header form .search-input input {
    width: 200px;
  }
}
main header form .search-input input:focus {
  box-shadow: 0 0 10px rgb(56, 56, 56);
}
main header form .search-input i {
  position: absolute;
  cursor: pointer;
  right: 14px;
  top: 10px;
  z-index: 1000;
}
main header form ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
main header form ul :nth-child(4) {
  background-color: #15da67;
  border-radius: 10px;
  padding: 8px;
  color: black !important;
}
main header form ul :nth-child(4):hover {
  scale: 0.98;
  background-color: #159845;
}
main header form ul li {
  cursor: pointer;
  letter-spacing: 1.7px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.781);
  transition: all 0.3s;
}
main header form ul li:hover {
  color: #fff;
}

.songs h2 {
  padding: 20px;
  cursor: pointer;
}
.songs h2:hover {
  text-decoration: underline;
}
.songs .list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.songs .list .card {
  width: 200px;
  background: #121212;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s;
}
.songs .list .card h4 {
  margin-bottom: 6px;
}
.songs .list .card:hover {
  opacity: 1;
}
.songs .list .card:hover .play {
  bottom: 30px;
  opacity: 1;
}
.songs .list .card figure img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.songs .list .card figure .play {
  background: #15da67;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  position: relative;
  right: -120px;
  bottom: -20px;
  font-size: 20px;
  border-radius: 50px;
  transition: all 0.4s;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.781);
  font-family: "poppins";
  overflow-x: hidden;
  display: flex;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
  white-space: nowrap;
  padding: 10px;
  transition: all 0.3s;
}
a:hover {
  background: #15da67;
  color: black;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */